.ItemTitle{
    display: flex;
    justify-content: center;
    height: 50%;
}
.container{
    display: grid;
}
.item{
    display: grid;
    width: fit-content;
    width: 145.48px;
    margin: 20px;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
}
.itemListBox{
    display: flex;
    flex-direction: column;
    width: 145.48px;
    justify-content: center;
    text-decoration: none;
}
.itemSquare{
    width: 145.48px;
}
.itemName{
    display: flex;
    color: rgb(0, 0, 0);
    font-weight: Bold;
    width: 145.48px;
    text-align: center;
    font-size: small;
    min-height: 31px;
    max-height: 31px;
    margin: 0%;
    align-items: center;
    justify-content: center;
}
.items{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    text-align:center;
    justify-content: center;
}
.tagHeader{
    text-align: center;
}
.itemHeader{
    text-align: center;
    font-size: 300%;
}
.likes__list{
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    box-sizing: border-box;
    width: 145.48px;
    height: 145.48px;
    background:Black;
    opacity: 80%;
    text-decoration: none;
    color: goldenrod;
}
.cardContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.itemPicture{
    height: 100px;
    width: 100px;
}
.lineRow{
    background-color: goldenrod;
    border: none;
    height: 2px;
    margin-top: 2%;
}
.buildInto{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}
.potentialItems{
    display: flex;
    justify-content: center;
    align-items: center;
}
.buildsIntoCard{
    padding: 10px;
    text-decoration: none;
    color: goldenrod;
}
.buildsIntoCard:hover{
    border: 1px white solid;
}