.container{
    margin-left: 20px;
}
.teams{
    display: flex;
    flex-direction: column;
}
.playerStats{
    display: flex;
    flex-direction: row;
}
.team1{
    margin-bottom: 1.5%;
}
.team2{

}
.gameOutcome{
    margin-bottom: 1.5%;
}
.playerName{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 150px;
}
.statLine{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-width: 100px;
}
.creepScore{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
}   
.champLevel{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
}
.champPicture{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.headerSpacer{
    min-width: 350px;
}
.teamHeader{
    display: flex;
    flex-direction: row;
}
.statLineHeader{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 50px;
    max-width: 90px;
    margin-left: 10px;
}