.header{
    text-align: center;
    color: goldenrod;
}

.champs{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    text-align:center;
    justify-content: center;
}

.champListBox{
    width: 100%;
    text-decoration: none;
}

.backTopButton{
    display: block;
    background: goldenrod;
    border: 0;
    border-radius: 5px;
    width: 80px;
    height: 38px;
    font-weight: bold;
    position: fixed;
    left: 10px;
    top: 10px;
    padding: 5px;
}

.backTopButton:hover{
    cursor: pointer;
    background: rgb(117, 88, 15);
    transition: 0.5s;
}

.backHeaderButton{
    display: block;
    background: goldenrod;
    border: 0;
    border-radius: 5px;
    width: 80px;
    height: 38px;
    font-weight: bold;
    padding: 5px;
}

.backHeaderButton:hover{
    cursor: pointer;
    background: rgb(117, 88, 15);
    transition: 0.5s;
}

.champList:hover{
    cursor:'pointer'
}

.champ{
    display: grid;
    width: fit-content;
    min-width: 12%;
    margin: 20px;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
}

.championSquare{
    width: 100%;
}

.champ:hover{
    transition: 0.5s;
    background: gray;
    cursor: pointer;
}

.champName{
    color: rgb(0, 0, 0);
    font-weight: Bold;
    margin: 10px;
}

body{
    background-color: black;
    color: goldenrod;
    font-family: 'Spiegel, "Arial Narrow", Arial, sans-serif';
}

.champSplash{
    display:inline-block;
    margin: 5px;
}
.champSplash:hover{
    cursor: pointer;
    border: 1px solid white;
}

.champSplashBorderLeft{
    display: block;
    position: fixed;
    left: 0%;
    top: 20%;
    width: 20%;
}

.champSplashBorderRight{
    display: block;
    position: fixed;
    right: 0%;
    top: 20%;
    width: 20%;
}
.champBorderingImage{
    width: 20%;
    display: block;
    position: fixed;
    top: 20%;
}

.champCard{
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: row-reverse;
    width: 50%;
    margin-left: 24.5%;
}

.champSkinImage{
    width: 50%;
    min-width: 50%;
}

.lineRow{
    background-color: goldenrod;
    border: none;
    height: 2px;
    margin-top: 2%;
}

.SearchBar{
    width: 30%;
    height: 150%;
    font-size: large;
}

.centerBlock{
    display: grid;
    place-items: center;
}

.inputs{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.label{
    padding-left: 2%;
    font-size: 125%;
}
.stickyHeader{
    position: sticky;
    top: 0px;
    background-color: black;
}

.MainHeader {
    border: solid Green;
    height: auto;
}

.container{
    display: grid;

}
.homeButton{
    display: flex;
    background: goldenrod;
    border: 0;
    border-radius: 5px;
    width: 80px;
    height: 38px;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
    color: black;
    margin: 1%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.homeButton:hover{
    cursor: pointer;
    background: rgb(117, 88, 15);
    transition: 0.5s;
}

.headerName{
    font-size: 300%;
    text-align: center;
}
.profileHeader{
    text-align: center;
}
.itemPicture{
    height: 100px;
    width: 100px;
}
.typeFilter{
    background-color: black;
    color: goldenrod;
}