.header{
    text-align: center;
    color: goldenrod;
}

.champs{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    text-align:center;
    justify-content: center;
}
.champCard{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: row-reverse;
    position: absolute;
    width: 50%;
    margin-left: 24.5%;
}

.champ:hover{
    transition: 0.5s;
    background: grey;
}

.backButton{
    background:goldenrod;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 0;
    border-radius: 5px;
    width: 60px;
    height: 30px;
    font-weight: bold;
}

.backButton:hover{
    cursor: pointer;
    background: rgb(117, 88, 15);
    transition: 0.5s;
}

.champList:hover{
    cursor:'pointer'
}

.champ{
    display: grid;
    width: fit-content;
    margin: 20px;
    border: 1px solid black;
    background-color: white;
}
.champ:hover{
    cursor: pointer;
}
.champName{
    color: goldenrod;
    font-weight: Bold;
}

body{
    background-color: black;
    color: goldenrod;
}

.champSplash{
    display:inline-block;
    margin: 5px;
}
.champSplash:hover{
    cursor: pointer;
    border: 1px solid white;
}

.champSplashBorderLeft{
    display: block;
    position: fixed;
    left: 0.5%;
    top: 10%;
}

.champSplashBorderRight{
    display: block;
    position: fixed;
    right: 0.5%;
    top: 10%;
}

.champSkinImage{
    width: 50%;
    min-width: 50%;
}